<!DOCTYPE html>
<html>
  <head>
    <title>Flipping Unleashed - CRM</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@300&display=swap" rel="stylesheet">
  

    <meta property="og:title" content="Deals on wheels!" />
    <meta property="og:description" content="Line 'em up and close 'em!"/>
    

  </head>

  <body>
    <%= yield %>
  </body>
</html>
